* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(187, 187, 241);
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}

main {
  padding: 20px;
  gap: 20px;
}
